<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.fracturedvisionmedia.test"
        version   = "1.0.0">
		
	<preference name="phonegap-version" value="3.5.0" />
	<preference name="orientation" value="portrait" />
	
    <name>Hello World</name>
    <description>test app</description>
    <author href="http://fracturedvisionmedia.com" email="info@fracturedvisionmedia.com">Fractured Vision Media, LLC</author>
	<preference name="permissions" value="none" />
</widget>
